/* general style rules;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* weatherAppContainer section styles
*/

.weatherAppContainer {
  width: 70%;
  margin: 0px auto;
  display: grid;
  grid-template-rows: 60px 200px 1fr;
  grid-template-columns: 1fr;
}

/* locationSearchControls section styles;
*/

.locationSearchControls {
  width: 100%;
  margin: 0px auto;
  border: 1px solid black;
  border-bottom: 0;
  overflow: hidden;
}

.searchForm {
  width: 90%;
  margin: 0px auto;
  display: flex;
}

#location {
  font-size: 1.5rem;
  margin: 10px 0px 10px 10px;
  border: 1px solid;
  padding: 2px;
  border-radius: 7px;
  flex-grow: 1;
}

.searchButton {
  font-size: 1.5rem;
  margin: 10px 10px 10px 10px;
  border-radius: 7px;
  border: 1px solid;
  padding: 2px;
}

/* currentDayInfo section styles;
*/

.currentDayInfo {
  border: 1px solid black;
  border-bottom: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.iconContainer {
  width: 180px;
  height: 120px;
  grid-row: 1/3;
  align-self: center;
  margin: 0px auto;
}

.detailsDay {
  grid-row: 1/3;
}

.temperatureDay {
  height: 70%;
  font-size: 6rem;
  padding-top: 30px;
}

.currentConditions {
  font-size: 1.5rem;
  overflow: hidden;
}

/* futureDaysInfo section styles;
*/

.futureDaysInfo {
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
}

.futureInfo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 1px solid black;
  padding: 5px;
}

.iconDay {
  height: 80px;
  width: 80px;
}

.precipprobDay,
.maxTempDay,
.minTempDay {
  text-align: center;
}
